<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">



  <display-name>valorAndes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletPlantilla</display-name>
    <servlet-name>ServletPlantilla</servlet-name>
    <servlet-class>co.edu.uniandes.videoAndes.servlets.ServletPlantilla</servlet-class>
  </servlet>
  
  
  
  
  <servlet>
      <servlet-name>ServletOrdenar</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletOrdenar</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ServletCancelar</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletCancelar</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ServletRegistrar</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletRegistrar</servlet-class>
   </servlet>
  
   <servlet>
      <servlet-name>ServletRCF1</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletRFC1</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ServletRCF2</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servlets.ServletRCF2</servlet-class>
   </servlet>
   
   <servlet>
      <servlet-name>ServletAdmin</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servletsIter3.ServletAdmin</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>ServletComisionistas</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servletsIter3.ServletComisionistas</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>ServletOferentes</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servletsIter3.ServletOferentes</servlet-class>
   </servlet>
   
    <servlet>
      <servlet-name>ServletInversionistas</servlet-name>
      <servlet-class>co.edu.uniandes.valorAndes.servletsIter3.ServletInversionistas</servlet-class>
   </servlet>
   
   
  
  
  <servlet-mapping>
    <servlet-name>ServletOrdenar</servlet-name>
    <url-pattern>/ordenar.htm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletCancelar</servlet-name>
    <url-pattern>/cancelar.htm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletRegistrar</servlet-name>
    <url-pattern>/registrar.htm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletRCF1</servlet-name>
    <url-pattern>/rcf1.htm</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletRCF2</servlet-name>
    <url-pattern>/rcf2.htm</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/admin.htm</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ServletComisionistas</servlet-name>
    <url-pattern>/comisionistas.htm</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ServletOferentes</servlet-name>
    <url-pattern>/oferentes.htm</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>ServletInversionistas</servlet-name>
    <url-pattern>/inversionistas.htm</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>